doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title= title
        meta(name='viewport',content='width=device-width, initial-scale=1')
        script(src='/js/bundle.js')
        if isLive
            script(src='//localhost:9999/livereload.js')
    body
        div#container!= container